# Project dependencies
pytest==7.0.1
pytest-cov==2.12.1 # Add this line for coverage integration

# Development dependencies (for testing, linting, and security checks)
pylint==2.15.0
flake8==4.0.1
bandit==1.7.0

# Development 